deb http://{{ offline_repo_server_ip }}/packages/45drives focal main
deb http://{{ offline_repo_server_ip }}/packages/ceph-45d focal main
deb http://{{ offline_repo_server_ip }}/packages/nfs-ganesha focal main
deb http://{{ offline_repo_server_ip }}/packages/libntirpc focal main 
deb http://{{ offline_repo_server_ip }}/packages/kubic-podman focal main
deb http://{{ offline_repo_server_ip }}/packages/ansible focal main

deb http://{{ offline_repo_server_ip }}/packages/ubuntu-main focal main
deb http://{{ offline_repo_server_ip }}/packages/ubuntu-updates-main focal-updates main
deb http://{{ offline_repo_server_ip }}/packages/ubuntu-backports-main focal-backports main
deb http://{{ offline_repo_server_ip }}/packages/ubuntu-security-main focal-security main

deb http://{{ offline_repo_server_ip }}/packages/ubuntu-universe focal universe
deb http://{{ offline_repo_server_ip }}/packages/ubuntu-updates-universe focal-updates universe
deb http://{{ offline_repo_server_ip }}/packages/ubuntu-backports-universe focal-backports universe
deb http://{{ offline_repo_server_ip }}/packages/ubuntu-security-universe focal-security universe

#deb http://{{ offline_repo_server_ip }}/packages/ubuntu-multiverse focal multiverse
#deb http://{{ offline_repo_server_ip }}/packages/ubuntu-updates-multiverse focal-updates multiverse
#deb http://{{ offline_repo_server_ip }}/packages/ubuntu-backports-multiverse focal-backports multiverse
#deb http://{{ offline_repo_server_ip }}/packages/ubuntu-security-multiverse focal-security multiverse